@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'PT Serif', serif;*/
    /*font-family: 'Antic Didone', serif;*/
    font-family: 'Cinzel', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    max-width: 100vw;
}
body, html {
    background: linear-gradient(to left,#031B34 , #540080);
    width: auto;
}
/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 1rem 10px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
}
#header .nav-list ul.active {
    left: 0%;
}
#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    opacity: 1;
    transition: 0.3s;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color: #9b102c;
    opacity: 0.6;
}
#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}
#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}
#header .hamburger.active .bar::before {
    bottom: 0;
}
#header .hamburger.active .bar::after {
    top: 0;
}
.logo {
    width: 80px;
}
/* End Header section */
/* Main section */
main {
    margin-top: 12vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.mainfield {
    height: 200px;
}

table{
    width:  1000px;
    margin: 30px auto;
}
table th{
    color: #010b4d;
    padding: 10px 2px;
    background-color: #f4f4f4;
    /* background-color: #fff; */
    border:  thin solid #d4d4d4;
}
main table tr {
    flex-direction: column;
}
table td{
    padding: 10px;
    border:  thin solid #d4d4d4;
    width: 18%;
    text-align: center;
    background-color: #fff;
}
table img{
    height: auto;
    width: 300px;
    background-size: cover;
    /*object-fit: cover;*/
}
table td.total-price{
    font-weight: bold;
    font-size: 22px;
}
table a{
    text-decoration: none;
    color: darkred;
    background-color: #ffecef;
    padding: 10px 15px;
}
table a:active{
    background-color: #ccf4d6;
    color:  green;
}
table select{
    padding: 10px;
    width:  200px;
    font-size: 16px;
    border: thin solid #d4d4d4;
    background-color: transparent;
}
table select:focus{
    outline: none;
}

.parent{
    /*display: flex;*/
    display: flex;
}
.child {
    flex-direction: column;
}
.btn {
    margin: 1rem;
    padding: 0.4rem;
}
/* End Main section */
@media only screen and (min-width: 768px) {
    main table tr {
        flex-direction: row;
    }
    .parent {
        display: contents;
    }
    .child {
        flex-direction: row;
    }
}
